# Personal
docs

# Logs
logs
.cache

# Mac default files
.DS_Store
djinn/.DS_Store
djinn/include/.DS_Store
src/.DS_Store
src/demos/.DS_Store

obj
build 
bin
djinn/lib

dependencies.png

.clang-format

validation
